h1 {
  color: rgb(0, 0, 0)
}
header {
  height: 70px;
  /* background-color: blue; */
}

main{
  height: auto;
  background-color: rgb(244, 220, 85);
}

footer {
  height: 70px;
  background-color: rgb(126, 35, 35);
}